<br/>
<div class="jumbotron">
  <h1>Darth-ipedia</h1>
  <p>Star Wars stuff... pew pew!</p>
  <p>
      <%= link_to "Get In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Get with the program", new_user_registration_path, class: 'btn btn-primary' %> today... or tomorrow. Whenever you feel like it! (No pressure). Seriously, you know -- it's not a big deal either way. I won't judge. It's cool... I guess. You know. Whatever.
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Obi Wan Kenobi</h2>
    <p>Thought the films were "fairy-tale rubbish". But he had a beard.</p>
  </div>
  <div class="col-md-4">
    <h2>The Jawa Language</h2>
    <p>Is a sped-up version of Zulu. Who knew?!</p>
  </div>
  <div class="col-md-4">
    <h2>Ewok</h2>
    <p> The word is never said outloud during the series. But it should have been!</p>
  </div>
</div>